@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-scrollbar::-webkit-scrollbar {
    width: 3px; /* Width of the entire scrollbar */
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #00838F; /* Red color for the scrollbar thumb */
    border-radius: 20px; /* Roundness of the scrollbar thumb */
}

.jodit-popup__content,.jodit-ui-input__input
 {
    z-index: 9999;
    pointer-events: all !important;
 }

 .jodit-wysiwyg {
    padding-left: 10px;
}

ul {
    list-style: inside;
}

ol {
    list-style: inside;
    list-style-type: number;
}

td {
    border: solid 1px;
}